.ShowUserContainter {
  margin: 25px;
  height: 100%;
}
.Heading {
  font-family: 'Outfit', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40.32px;
  letter-spacing: 0.25px;
  text-align: center;
  color: #101828;
}
.SearchInputContainer {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.SearchInput {
  width: 70%;
  height: 38px;
  border: 2px solid #D0D5DD;
  border-radius: 8px 0px 0px 8px;
  padding: 10px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-left: 40px;
}
.SearchIcon {
  position: relative;
  left: 30px;
  height: 20px;
  width: 20px;
}
.SearchButton {
  width: 20%;
  height: 61px;
  background: #F6F6F6;
  border-radius: 0px 8px 8px 0px;
  border: 1px 0px 0px 0px;
  border: 1px solid #D0D5DD;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.79px;
  text-align: center;
  color: #101828;
}
