.LoginPageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 100px;
  margin: 25px;
  height: 100%;
}
.Image {
  border-radius: 18px;
}
.FormContainer {
  display: flex;
  text-align: left;
  flex-direction: column;
  width: 450px;
  background: #FFFFFF;
}
.FormContent {
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.FormContentText {
  padding: 0;
  margin: 0;
  font-family: 'Outfit';
  font-size: 48px;
  font-weight: 700;
  line-height: 60.48px;
  letter-spacing: 0.25px;
}
.FormContentSubText {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
}
.Form {
  display: flex;
  align-items:flex-start;
  justify-content: center;
  flex-direction: column;
}
.FormInput {
  width: 100%;

  display: flex;
  align-items:flex-start;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 25px;
}
.FormInput input {
  border: 1px solid #5B35DA;
  padding: 12px;
  border-radius: 8px;
  width: 94%;
  margin-top: 5px;
}
.FormButton {
  width: 100%;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: 600;
  line-height: 20.43px;
  letter-spacing: 0.44999998807907104px;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: 0px;
  background-color: #5B35DA;
}