.SidebarItem {
  display: none;
  min-width: 240px;
  width: 20vw;
  padding: 16px 0px 16px 0px;
  font-weight: 600;
  background: #ffffff;
  box-shadow: 4px 0px 4px 0px #0000000D;
  z-index: 2;
  transition: all 0.3s ease;
}
.SidebarItemContent {
  height: 48px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  color: #667085;
  transition: all 0.5s ease;
}
.SidebarItemText {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
}
.SidebarItemActive {
  background: rgba(86, 31, 231, 0.2);
  font-weight: 700;
  color: #561FE7;
}
.SidebarItemContent:hover {
  background: rgba(86, 31, 231, 0.1);
  color: #561FE7;
}
.SidebarItemActive:hover {
  background: rgba(86, 31, 231, 0.2);
  color: #561FE7;
}

@media screen and (min-width: 768px) {
  .SidebarItem {
    display: block;
  }
}
