.SidebarItem {
  min-width: 240px;
  width: 20vw;
  padding: 16px 0px 16px 0px;
  opacity: 0px;
  box-shadow: 4px 0px 4px 0px #0000000D;
}
.SidebarItemContent {
  height: 48px;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  opacity: 0px;
  color: #667085;
}
.SidebarItemText {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
}
.SidebarItemActive {
  background: rgba(171, 167, 179, 0.1);
  color: #561FE7;
}
.SidebarItemIconActive {
  color: #561FE7;
}
