.Header {
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0px 4px 4px 0px #0000000D;
  z-index: 3;
}

.HeaderContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.HeaderHamburger {
  display: none;
}